@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

